<%- include('./partials/header') %>
<% if (customer.cart.length === 0) { %>
    <div class="p-4 md:p-20 text-center mt-16">
        <h1 class="text-xl md:text-2xl text-red-500">Cart is Empty!</h1>
        <h3 class="text-lg md:text-xl inline">Go to shop and buy new bags</h3>
        <a href="/shop" class="bg-blue-500 text-white px-4 py-2 md:px-5 md:py-3 rounded-md mt-2 inline-block">Shop</a>
    </div>
<% } else { %>

<div class="mt-16 md:mt-16 px-4 md:px-32 py-4 ">
    <h1 class="text-2xl md:text-3xl">Shopping Cart</h1>

    <% var subtotal = 0 %>
    <div class="flex flex-col md:flex-row justify-between mt-4 space-y-6 md:space-y-0">
        <div class="w-full md:w-4/6">
            <hr class="mt-2">
            <% customer.cart.forEach(product => { %>
                <% var bill = (product.price + 20) - product.discount %>
                <% subtotal = subtotal + bill %>
                <div class="flex flex-col md:flex-row items-center mt-2 space-y-4 md:space-y-0">
                    <div class="h-full bg-gray-100 p-4 flex justify-center items-center">
                        <img src="data:image/jpeg;base64,<%= product.image.toString('base64') %>" class="w-32 md:w-48 h-32 md:h-44 object-contain" alt="">
                    </div>
                    <div class="flex w-full px-4 justify-between md:items-center">
                        <div>
                            <h3 class="text-lg md:text-xl"><%= product.name %></h3>
                            <h4 class="text-sm md:text-base text-gray-500">Color | Large</h4>
                            <h4 class="text-sm md:text-base">₹<%= bill %></h4>
                        </div>
                        <h4 class="text-gray-300">Qty: 1</h4>
                        <form action="/delete/<%= product._id %>" method="POST" class="inline-block">
                            <button class="text-red-500 hover:underline" type="submit">Delete</button>
                        </form>
                        
                    </div>
                </div>
                <hr class="mt-2">
            <% }) %>
        </div>

        <% var ordertotal = subtotal + 50 + 46 %>
        <div class="w-full md:w-2/6 h-4/6 p-4 bg-gray-100 rounded-lg">
            <h2 class="text-xl md:text-2xl font-semibold">Order Summary</h2>
            <div class="flex justify-between py-3">
                <h3 class="text-gray-500">Subtotal:</h3>
                <span>₹<%= subtotal %></span>
            </div>
            <hr>
            <div class="flex justify-between py-3">
                <h3 class="text-gray-500">Shipping estimate:</h3>
                <span>₹ 50</span>
            </div>
            <hr>
            <div class="flex justify-between py-3">
                <h3 class="text-gray-500">Tax estimate:</h3>
                <span>₹ 46</span>
            </div>
            <hr>
            <div class="flex justify-between py-3">
                <h3 class="text-lg">Order total:</h3>
                <span>₹ <%= ordertotal %></span>
            </div>
            <button class="px-4 py-3 bg-blue-500 rounded-md w-full text-white text-lg md:text-xl hover:bg-blue-600">Checkout</button>
        </div>
    </div>
</div>

<% } %>

<%- include('./partials/footer') %>
